body{
  width:100vw;
  height:100vh;
  background-color:hsl(206, 94%, 87%);
  font-family:"Ubuntu";
}
.form-container{
   width:900px;
   height:630px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.sidebar {
  margin-top:3px;
  margin-right:640px;
  float: left;
   width: 25%; 
   height:600px;
  background: url('https://raw.githubusercontent.com/zaklinaradivojevic/Multi-step-form/6e02e00559af1ff7a8c9fbd8f19a016821677123/multi-step-form-main/assets/images/bg-sidebar-desktop.svg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align:center;
   color:hsl(231, 100%, 99%);
}
.sidebar p{
  text-transform: uppercase; 
  line-height:15px;
  margin-top:-15px;
  
}
.step{
  text-transform: uppercase;
  color:hsl(229, 24%, 87%);
}

.sidebar-content{
  width:100%;
  height:40px;
  margin-bottom:10px;
  margin-top:30px;
}
.content{
  float: right;
  width: 600px; 
  height:500px;
   margin-top:5px;
   margin-right:-260px;
  justify-content: center;
  align-items: center;
  text-align:left;
   color:hsl(213, 96%, 18%);
  flex: 1;
  position:absolute;
}
.content2{
  float: right;
  width: 600px; 
  height:500px;
   margin-top:55px;
   margin-left:400px;
  justify-content: center;
  align-items: center;
  text-align:left;
   color:hsl(213, 96%, 18%);
  position:absolute;
   flex: 1;
}
.content p{
  color: hsl(231, 11%, 63%);
}
.content2 p{
  color: hsl(231, 11%, 63%);
}
label{
  color:hsl(243, 100%, 62%);
}
.sidebar-btn {
  display: block;
  width: 30px;
  height:30px;
  text-align: center;
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  margin-left:20px;
  margin-bottom:-29px;
}

.sidebar-btn:hover {
  background-color: hsl(206, 94%, 87%);
  color:hsl(213, 96%, 18%);
}

.sidebar-btn.active {
  background-color: white;
  color:hsl(213, 96%, 18%); 
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 80%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 5px;
}
input::placeholder {
  color: hsl(213, 96%, 18%);
}

button.next-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top:50px;
  margin-left:390px;
}

button.next-button:hover {
  background-color: #2980b9;
}


.formStep.show {
  display: block;
}
.select-conteiner{
  display:flex;
  margin-top:30px;
  width:80%;
  height:auto;
 
}
.select-plan{
  width:120px;
  height:120px;
  border:1px solid  hsl(229, 24%, 87%);
  border-radius:5px;
  padding:10px;
  margin:5px 10px;
}
.switch-container {
  display: flex;
  align-items: center;
  justify-content:center;
  text-align:center;
  background-color:hsl(231, 100%, 99%);
  margin-top:20px;
  width:80%;
  height:40px;
}

/* toggle in label designing */
    .toggle {
        position : relative ;
        display : inline-block;
        width : 30px;
        height : 15px;
        background-color: hsl(213, 96%, 18%);
        border-radius: 30px;
        margin-bottom:5px;
        margin-left:19px;
    }
 /* After slide changes */
    .toggle:after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: hsl(0, 0%, 100%);
        top: 0px; 
        left: 1px;
        transition:  all 0.5s;
    }
     /* Checkbox checked effect */
    .checkbox:checked + .toggle::after {
        left : 15px; 
    }
           
    /* Checkbox checked toggle label bg color */
    .checkbox:checked + .toggle {
        background-color: hsl(213, 96%, 18%);
    }
           
    /* Checkbox vanished */
    .checkbox { 
        display : none;
    }
#monthlyText{
  float:left;
  margin-left:-70px;
  margin-top:-5px;
}
#yearlyText{
   float:right;
  margin-right:-60px;
  margin-top:-5px;
}
.buttons-container{
  width:80%;
  height:70px;
  margin-top:190px;
  position:absolute;
}
button.back-button{
  float:left;
   background-color: transparent;
   border: none;
   font-size: 16px;
   cursor: pointer;
   margin-top:25px;
}
button.next-button2{
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  float:right;
  margin-top:20px;
  margin-left:270px;
}

.active {
  color: #2196F3;
}
.add-ons {
  width:60%;
  height:50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top:20px;
  display: flex;
  align-items: center;
}
.addon-checkbox {
  float:left;
  margin-left:-122px;
  
}
.service{
  margin-top:-5px;
  margin-left:-100px;
  white-space: nowrap;
}
.acces{
   margin-top:40px;
   margin-left:-100px;
   white-space: nowrap;
}
.mo{
  float:right;
  margin-bottom:20px;
  margin-left:20px;
}
.mo2{
   float:right;
  margin-bottom:20px;
  margin-left:-30px;
}
.buttons-container3{
  margin-top:20px;
  width:70%;
  height:50px;
  
}
.attribution { 
    font-size: 11px;
    text-align: center;
     width:100%;
    padding: 10px;
  margin-top:650px;
  position:absolute;
}
 .attribution a { 
  color: hsl(228, 45%, 44%); 
}
